/* css reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

li {
    list-style: none;
}

ul {
    list-style: none;
}

.icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(56, 14, 14);
    color: white;
}


#menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(139, 10, 10);
    
}
a{
    color: black;
    text-decoration: none;
}
a :hover{
color: blue;
}

#menu a {
    color: white;
}

.News {
    color: white;
    background-color: rgb(167, 0, 0);
    font-size: xx-large;
    display: flex;
    justify-content: space-between;
}

.tech {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration-line: underline;
}

.mars {
    font-size: 25px;
    padding-top: 15px; ;
    display: flex;
}
.Space {
    padding-top: 20px;
    width: 600px;
    display: flex;
    flex-direction: column;
}
.all-space{
    display: flex;
    flex-direction: row;
    width: 50vw;

}

.date {
    float: inline-start;
    
}

.image {
    margin-left: 500px;
    margin-bottom: 500px;
}
.alien {
    padding-top: 500px;
    padding-right: 250px;
    padding-bottom: 30px;

}

.local {
    font-size: large;
}